<h1>List of Events</h1>

<table border='1'>
  <tr>
    <th>ID</th>
    <th>Name</th>
  </tr>
  <% @events.each do |event| %>
    <tr>
      <td><%= event.id %></td>
      <td><%= event.name %></td>
      <td><%= link_to "Edit", edit_event_path(event) %></td>
    </tr>
  <% end %>
  <tr>
    <td colspan="2">
      <a href="/events/new">New Event</a>
    </td>
  </tr>
</table>
