<!-- TODO #1: create the view based on the mockup -->
<!-- TODO #4: prefill the input elements based on instance variables -->

<p>
  <%== submit_tag "Update preferences" %>
</p>

<p>
  <a href="/logout">Logout</a>
</p>
