<table border="1">
  <tr>
    <th>ID</th>
    <th>Table number</th>
    <th>Line items</th>
    <th>Total price</th>
  </tr>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td><%= order.table_number %></td>
      <td>
        <ul>
          TODO: Write this
        </ul>
      </td>
      <td><%= "$%.2f" % order.total_price %></td>
    </tr>
  <% end %>
</table>
