<h1>Now looking for a <%= @color.name %> <%= @vehicle.name %>...</h1>

<iframe src="http://www.bing.com/images/search?adlt=strict&q=<%= @color.name %>%20<%= @vehicle.name %>" width="100%" height="500">
</iframe>
