<html>
  <head>
    <title>About DVC</title>
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:700'
          rel='stylesheet' type='text/css'>
    <link href='/stylesheets/reset.css' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/template.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class='whole-page'>
      <div class='logo-and-title'>
        <div class='logo'>DaVinci Coders</div>
        <h1 class='title'>Student Gallery</div>
      </div>
<div class='nav'><div class='nav-element nav1'>
                  <a href='/2013-q1'>2013 Q1</a>
                </div><div class='nav-element nav2 nav-selected'>
                  About DVC
                </div><div class='nav-element nav3'>
                  <a href='/contact-dvc'>Contact DVC</a>
                </div><div class='nav-element nav4'>
                  <a href='/past-terms'>Past terms</a>
                </div></div>
    <div class='content'>
        <p>DaVinci Coders is an eleven-week intensive class in programming
           using the <a href="http://www.ruby-lang.org/">Ruby</a>
           programming language and the <a href="http://rubyonrails.org/">Ruby
           on Rails</a> web framework.
           It meets on Monday, Wednesday, and Friday mornings from 9:00 a.m.
           to 12:30 p.m.
        </p>
        <ul>
          <li>Read more about the
            <a href="http://www.davincicoders.com">DaVinci Coders</a>
            program.</li>
          <li>DaVinci Coders meets at 
            <a href="http://www.davinciinstitute.com">The DaVinci Institute</a>
            in Louisville, Colorado.</li>
          <li>The instructor for the Winter 2013 term is
            <a href="http://www.danielstutzman.com">Daniel Stutzman</a>.</li>
        </ul>
      </div>

      <div class='footer'>
        &copy; 2013 The DaVinci Institute, Inc. All rights reserved.
        The DaVinci <br/>Institute is a 501(c)(3) non-profit under
        the laws of the State of Colorado.
      </div>
    </div>
  </body>
</html>
