<html>
  <head>
    <title>Add new site</title>
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:700'
          rel='stylesheet' type='text/css'>
    <link href='/stylesheets/reset.css' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/template.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class='whole-page'>
      <div class='logo-and-title'>
        <div class='logo'>DaVinci Coders</div>
        <h1 class='title'>Student Gallery</div>
      </div>
<div class='nav'><div class='nav-element nav1'>
                  <a href='/2013-q1'>2013 Q1</a>
                </div><div class='nav-element nav2'>
                  <a href='/about-dvc'>About DVC</a>
                </div><div class='nav-element nav3'>
                  <a href='/contact-dvc'>Contact DVC</a>
                </div><div class='nav-element nav4'>
                  <a href='/past-terms'>Past terms</a>
                </div></div>
    <div class='content'>
        <form>
          <h2>Add new site</h2>

          <div class="form-field">
            <label for="student-name">Student name</label>
            <input type="text" name="student-name">
            <div class="required">*</div>
          </div>
          <div class="form-field">
            <label for="student-email">Student email</label>
            <input type="text" name="student-email">
          </div>
          <div class="form-field">
            <label for="site-url">Site URL</label>
            <input type="text" name="site-url">
            <div class="required">*</div>
          </div>
          <div class="form-field">
            <label for="site-name">Name of site</label>
            <input type="text" name="site-name">
            <div class="required">*</div>
          </div>
          <div class="form-field">
            <input type="submit" value="Add site">
            <div class="required">* Required</div>
          </div>
        </form>
      </div>

      <div class='footer'>
        &copy; 2013 The DaVinci Institute, Inc. All rights reserved.
        The DaVinci <br/>Institute is a 501(c)(3) non-profit under
        the laws of the State of Colorado.
      </div>
    </div>
  </body>
</html>
