<html>
  <head>
    <title>Contact DVC</title>
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:700'
          rel='stylesheet' type='text/css'>
    <link href='/stylesheets/reset.css' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/template.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class='whole-page'>
      <div class='logo-and-title'>
        <div class='logo'>DaVinci Coders</div>
        <h1 class='title'>Student Gallery</div>
      </div>
<div class='nav'><div class='nav-element nav1'>
                  <a href='/2013-q1'>2013 Q1</a>
                </div><div class='nav-element nav2'>
                  <a href='/about-dvc'>About DVC</a>
                </div><div class='nav-element nav3 nav-selected'>
                  Contact DVC
                </div><div class='nav-element nav4'>
                  <a href='/past-terms'>Past terms</a>
                </div></div>
    <div class='content'>
        <form>
          <div class="form-field">
            <label for="name">Name</label>
            <input type="text" name="name">
            <div class="required">*</div>
          </div>
          <div class="form-field">
            <label for="email">Email</label>
            <input type="text" name="email">
            <div class="required">*</div>
          </div>
          <div class="form-field">
            <label for="phone">Phone</label>
            <input type="text" name="phone">
          </div>
          <div class="form-field form-field-message">
            <label for="message">Message</label>
            <textarea name="message" rows='10' cols='30'></textarea>
            <div class="required">*</div>
          </div>
          <div class="form-field">
            <input type="submit" value="Send message">
            <div class="required">* Required</div>
          </div>
        </form>
      </div>

      <div class='footer'>
        &copy; 2013 The DaVinci Institute, Inc. All rights reserved.
        The DaVinci <br/>Institute is a 501(c)(3) non-profit under
        the laws of the State of Colorado.
      </div>
    </div>
  </body>
</html>
