<html>
  <head>
    <title>Past terms</title>
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:700'
          rel='stylesheet' type='text/css'>
    <link href='/stylesheets/reset.css' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/template.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class='whole-page'>
      <div class='logo-and-title'>
        <div class='logo'>DaVinci Coders</div>
        <h1 class='title'>Student Gallery</div>
      </div>
<div class='nav'><div class='nav-element nav1'>
                  <a href='/2013-q1'>2013 Q1</a>
                </div><div class='nav-element nav2'>
                  <a href='/about-dvc'>About DVC</a>
                </div><div class='nav-element nav3'>
                  <a href='/contact-dvc'>Contact DVC</a>
                </div><div class='nav-element nav4 nav-selected'>
                  Past terms
                </div></div>
    <div class='content'>
        <table border='1'>
          <tr>
            <th class="student-name">Student name</th>
            <th class="site-name">Site name</th>
            <th class="term">Term</th>
          </tr>
          <tr>
            <td class="student-name">Thomas Coler</td>
            <td class="site-name">
              <a href="http://www.valueoutlook.com">Value Outlook Beta Charts</a>
            </td>
            <td class="term">2012 Q4</td>
          </tr>
          <tr>
            <td class="student-name">Mick Trujillo</td>
            <td class="site-name">
              <a href="http://powerful-shelf-6679.herokuapp.com">Pente, a strategy game</a>
            </td>
            <td class="term">2012 Q4</td>
          </tr>
          <tr>
            <td class="student-name">John Williams</td>
            <td class="site-name">
              <a href="http://www.johnwill.me/">John Williams Portfolio</a>
            </td>
            <td class="term">2012 Q4</td>
          </tr>
          <tr>
            <td class="student-name">David Douglas</td>
            <td class="site-name">
              Angel Investor Listings
            </td>
            <td class="term">2012 Q3</td>
          </tr>
          <tr>
            <td class="student-name">Alison Jones &amp;<br/>Timothy Clayton</td>
            <td class="site-name">
              <a href="http://beecando.herokuapp.com">BeeCanDo</a>
            </td>
            <td class="term">2012 Q3</td>
          </tr>
          <tr>
            <td class="student-name">Heather Welsh</td>
            <td class="site-name">
              <a href="http://shielded-shore-5533.herokuapp.com">Portfolio</a>
            </td>
            <td class="term">2012 Q3</td>
          </tr>
          <tr>
            <td class="student-name">Heather Welsh</td>
            <td class="site-name">
              <a href="http://lit-fjord-1369.herokuapp.com/">Kafinated Kode Monkey</a>
            </td>
            <td class="term">2012 Q3</td>
          </tr>
          <tr>
            <td class="student-name">Elaine Marino</td>
            <td class="site-name">
              Lunch Trails
            </td>
            <td class="term">2012 Q3</td>
          </tr>
          <tr class="add-new-site">
            <td class="student-name"></td>
            <td class="site-name">
              <a class="add-new-site" href="/add-new-site">
                (add new site...)
              </a>
            </td>
            <td class="term"></td>
          </tr>
        </table>
      </div>

      <div class='footer'>
        &copy; 2013 The DaVinci Institute, Inc. All rights reserved.
        The DaVinci <br/>Institute is a 501(c)(3) non-profit under
        the laws of the State of Colorado.
      </div>
    </div>
  </body>
</html>
