<html>
  <head>
    <title>2013 Q1</title>
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:700'
          rel='stylesheet' type='text/css'>
    <link href='/stylesheets/reset.css' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/template.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class='whole-page'>
      <div class='logo-and-title'>
        <div class='logo'>DaVinci Coders</div>
        <h1 class='title'>Student Gallery</div>
      </div>
<div class='nav'><div class='nav-element nav1 nav-selected'>
                  2013 Q1
                </div><div class='nav-element nav2'>
                  <a href='/about-dvc'>About DVC</a>
                </div><div class='nav-element nav3'>
                  <a href='/contact-dvc'>Contact DVC</a>
                </div><div class='nav-element nav4'>
                  <a href='/past-terms'>Past terms</a>
                </div></div>
    <div class='content'>

        <table border='1'>
          <tr>
            <th class="student-name">Student name</th>
            <th class="site-name">Site name</th>
            <th class="term">Term</th>
          </tr>
          <tr>
            <td class="student-name">Rebecca West</td>
            <td class="site-name">
              <a href="http://recipe-book-west.herokuapp.com/">
                West Family recipes
              </a>
            </td>
            <td class="term">2013 Q1</td>
          </tr>
          <tr>
            <td class="student-name">Gerard Cote</td>
            <td class="site-name">
              <a href="http://mesa-fitness-club.herokuapp.com/">
                Mesa Fitness Club
              </a>
            </td>
            <td class="term">2013 Q1</td>
          </tr>
          <tr>
            <td class="student-name">Dan Dorenfeld</td>
            <td class="site-name">
              <a href="http://songwriting-workbench.herokuapp.com/">
                Songwriting Workbench
              </a>
            </td>
            <td class="term">2013 Q1</td>
          </tr>
          <tr>
            <td class="student-name">Julie Schramm</td>
            <td class="site-name">
              <a href="http://julies-cat-herding.herokuapp.com/">
                Julie's Cat Herding Services
              </a>
            </td>
            <td class="term">2013 Q1</td>
          </tr>
          <tr>
            <td class="student-name">Ross Kinney</td>
            <td class="site-name">
              <a href="http://www.5280webdesign.com/">
                5280 Web Design
              </a>
            </td>
            <td class="term">2013 Q1</td>
          </tr>
          <tr class="add-new-site">
            <td class="student-name"></td>
            <td class="site-name">
              <a class="add-new-site" href="/add-new-site">
                (add new site...)
              </a>
            </td>
            <td class="term"></td>
          </tr>
        </table>

      </div>

      <div class='footer'>
        &copy; 2013 The DaVinci Institute, Inc. All rights reserved.
        The DaVinci <br/>Institute is a 501(c)(3) non-profit under
        the laws of the State of Colorado.
      </div>
    </div>
  </body>
</html>
