<h1>Browse books</h1>

<p>Browse by topic:
  <ul>
    <li>
      <a href="/topic/JavaScript">
        JavaScript
      </a>
    </li>
    <li>
      <a href="/topic/jQuery">
        jQuery
      </a>
    </li>
    <li>
      <a href="/topic/Ruby">
        Ruby
      </a>
    </li>
    <li>
      <a href="/topic/CSS">
        CSS
      </a>
    </li>
  </ul>
</p>

<p>Browse by author:
  <ul>
    <li>
      <a href="/author/David Flanagan">
        David Flanagan
      </a>
    </li>
    <li>
      <a href="/author/David Sawyer McFarland">
        David Sawyer McFarland
      </a>
    </li>
    <li>
      <a href="/author/Douglas Crockford">
        Douglas Crockford
      </a>
    </li>
    <li>
      <a href="/author/Ross Olsen">
        Ross Olsen
      </a>
    </li>
  </ul>
</p>

<p>Browse by publication year:
  <ul>
    <li>
      <a href="/year/2007">
        2007
      </a>
    </li>
    <li>
      <a href="/year/2008">
        2008
      </a>
    </li>
    <li>
      <a href="/year/2011">
        2011
      </a>
    </li>
    <li>
      <a href="/year/2013">
        2013
      </a>
    </li>
  </ul>
</p>

