<form class="form-horizontal" role="form">

  <%= label_and_text_field :first_name %>
  <%= label_and_text_field :email %>
  <%= label_and_check_box  :remember_me %>
  <%= no_label_and_submit_button %>

</form>
