<h1>Accounts</h1>

<table border="1">
  <tr>
    <th>type</th>
    <th>balance</th>
  </tr>
  <% @user.accounts.each do |account| %>
    <tr>
      <td><%= account.account_type %></td>
      <td><%= "%.2f" % account.current_balance %></td>
    </tr>
  <% end %>
</table>
