/* Place all the styles related to the main controller here.
   They will automatically be included in application.css. */

.footer {
  color: gray;
  text-align: center;
}

.day {
  padding: 10px;
  float: left;
  width: 100px;
  height: 100px;
  border: 1px black solid;
  font-family: sans-serif;
}

.day.holiday {
  background-color: blue;
  color: white;
}

.day.not-main-month {
  background-color: gray;
}

.day-number {
  font-size: 30pt;
  line-height: 30pt;
}

.under-21 {
  color: red;
}
