<!doctype html>
<html>
  
  <head>
    <title>Divshot practice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap-responsive.css">
    <script src="https://app.divshot.com/js/jquery.min.js"></script>
    <script src="https://app.divshot.com/js/bootstrap.min.js"></script>
  </head>
  
  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
            <a class="brand" href="#">Project name</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li>
                  <a href="#" class="active">Home</a> 
                </li>
                <li>
                  <a href="#">About</a> 
                </li>
                <li>
                  <a href="#">Contact</a> 
                </li>
                <li>
                  <a href="#">Dropdown</a>
                  <a></a> 
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>