<h2>Volume controls</h2>

<button class="btn btn-default">
  <span class="glyphicon glyphicon-volume-off"></span>
</button>

<button class="btn btn-default">
  <span class="glyphicon glyphicon-volume-down"></span>
</button>

<button class="btn btn-default">
  <span class="glyphicon glyphicon-volume-up"></span>
</button>

