<h2>Volume controls</h2>

<button class="btn btn-default">
  <span class="glyphicon glyphicon-volume-off"></span>
</button>

<button class="btn btn-default">
  <span class="glyphicon glyphicon-volume-down"></span>
</button>

<button class="btn btn-default">
  <span class="glyphicon glyphicon-volume-up"></span>
</button>

<h2>Example HTML entities</h2>

<p>6 &times; 3 = 18</p>

<p>6 &divide; 3 = 2</p>
