<!DOCTYPE html>
<html>
  <head>
    <title>Grid Template for Bootstrap</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/page.css">
  </head>
  <body class="container">
    <%== yield %>
  </body>
</html>
