<style>
  tr { vertical-align: top; }
  ul { margin: 0; }
</style>

<h1>Blog posts</h1>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Author</th>
  </tr>
  <% BlogPost.order(:id).all.each do |post| %>
    <tr>
      <td><%= post.id %></td>
      <td><%= post.title %></td>
      <td>TODO</td>
    </tr>
  <% end %>
</table>

<h1>Authors</h1>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Blog posts</th>
  </tr>
  <% Author.order(:id).all.each do |author| %>
    <tr>
      <td><%= author.id %></td>
      <td><%= author.name %></td>
      <td>
        <ul>
          <li>TODO</li>
        </ul>
      </td>
    </tr>
  <% end %>
</table>


