<ul>
  <li><br>
  <li><br>
  <li>
</ul>

<p>
  <input type="text">
</p>

<table border="1">
  <tr>
    <td>
      <button>E</button>
    <td>
      <h1>D</h1>
    <th>
      BA<br>
      CB
  <tr>
    <td>
      <h1>F</h1>
    <td>
      <button>E</button>
    <td>
      <h1>D</h1>
  <tr>
    <th>
      HG<br>
      IH
    <td>
      <h1>F</h1>
    <td>
      <button>E</button>
</table>

<p>
  <input type="text">
</p>

<ul>
  <li><br>
  <li><br>
  <li>
</ul>
