<p>1. Print out the names of the atomic elements in alphabetical order.</p>

<!-- TODO: write the answer here -->

<p>2. Print out the name for the element with number of 27.</p>

<!-- TODO: write the answer here -->

<p>3. Print the name of the element with the lowest melting point.</p>

<!-- TODO: write the answer here -->

<p>4. Print the name of the element with the highest melting point. Hint: you'll need to filter out the NULL records with <code>where("melting_point is not null")</code>.</p>

<!-- TODO: write the answer here -->

<p>5. Print out all the element names that end with the letters ium.  (e.g. Calcium)</p>

<!-- TODO: write the answer here -->

<p>6. Print out the name and number for each of the noble gases.  Look in the <code>category</code> field to find the noble gases.</p>

<!-- TODO: write the answer here -->

<p>7. Print out the symbols for the alkali metals, sorted alphabetically.  Look in the <code>category</code> field to find the alkali metals.</p>

<!-- TODO: write the answer here -->

<p>8. Print out element names with atomic number of 10 or below.  Example less-than method call: <code>where("year < 1998")</code></p>

<!-- TODO: write the answer here -->

<p>9. After the user enters a name of an element in the text box below and clicks Find, print the number of the element on the resulting POST page.</p>

<%== text_field_tag :name_of_element %>
<%== submit_tag "Find" %>

<!-- TODO: do not write the answer here; write it in the POST handler for "/" in the controller -->

<p>10. After the user enters a number of an element in the text box below and clicks Find, print the name of the element on the resulting POST page.</p>

<%== text_field_tag :number_of_element %>
<%== submit_tag "Find" %>

<!-- TODO: do not write the answer here; write it in the POST handler for "/" in the controller -->
