<h1>Shoe-of-the-Month club</h1>

<p>
  <h2>
    <a href="/sign_up">Sign Me Up!</a>
  </h2>
</p>

<p>
  <a href="http://www.flickr.com/photos/ganymedes1985/3749273976/" title="The guy who lived in his shoes by Ganymedes Costagravas, on Flickr">
    <img src="http://farm3.staticflickr.com/2550/3749273976_a069ed95fc.jpg" width="500" height="375" alt="The guy who lived in his shoes">
  </a>
</p>
