<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/application.css">
    <title>Home</title>
  </head>
  <body>
    <div class='nav'>
      <div class='nav-element nav1'>
        Home
      </div>
      <div class='nav-element nav2'>
        <a href='/about-us'>About Us</a>
      </div>
      <div class='nav-element nav3'>
        <a href='/contact-us'>Contact Us</a>
      </div>
    </div>

    <h1>Home</h1>

    <p>Welcome to the home page.</p>

    <hr>
    <p>(C) 2013 Your Name Here.  All rights reserved.</p>
  </body>
</html>
