<html>
  <body>
    <div style='font-size:60pt'>
      Below is a picture of a pipe.
      <br>
      <img src="/images/pipe.png">
      <br>
      <a href="/images/pipe.png">Link to the image</a>
    </div>
  </body>
</html>
