<h1>Denver B-cycle stations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Docks</th>
    <th>Status</th>
  </tr>
  <% @stations.each do |station| %>
    <tr>
      <td><%= station.station_name %></td>
      <td><%= station.num_docks    %></td>
      <td><%= station.status       %></td>
    </tr>
  <% end %>
</table>

<%== will_paginate @stations %>
