<h1>Edit phone numbers</h1>

<table border="1">
  <tr>
    <th>#</th>
    <th>Country</th>
    <th>Number</th>
    <th>Type</th>
  </tr>
  <% @phones.each do |phone| %>


    <!-- TODO: Write this part -->


  <% end %>
</table>
