<p>Example of a table with a row of headers</p>

<table border="1">
  <tr>
    <th>A</th>
    <th>B</th>
  </tr>
  <tr>
    <td>A1</td>
    <td>A2</td>
  </tr>
  <tr>
    <td>A1</td>
    <td>A2</td>
  </tr>
</table>
