!!!
%html
  %head
    %title Grid Template for Bootstrap
    %link(rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css")
    %link(rel="stylesheet" type="text/css" href="/stylesheets/page.css")
  %body.container
    = yield
