<p>Example of a simple list:</p>

<ul>
  <li>Item #1</li>
  <li>Item #2</li>
</ul>

<p>Example of a nested list:</p>

<ul>
  <li>
    Item #1
    <ul>
      <li>A</li>
      <li>B</li>
    </ul>
  </li>
  <li>
    Item #2
    <ul>
      <li>C</li>
      <li>D</li>
    </ul>
  </li>
</ul>
