<h1>Book details</h1>

<p>
  <h2>Title</h2>
  <%= @book.title %>
</p>

<p>
  <h2>Author</h2>
  <%= @book.author %>
</p>

<p>
  <h2>ISBN</h2>
  <%= @book.isbn %>
</p>

<p>
  <h2>Publication year</h2>
  <%= @book.publication_year %>
</p>
