<h1>Spring cleanup for object creation in Ruby</h1>

<p><b>Summary:</b> A complex object creation can clutter a controller. It’s better to move it into a dedicated method of the corresponding model.</p>

<p>Read more at <a href="http://blog.8thcolor.com/2013/07/spring-cleanup-for-object-creation-in-rails/">http://blog.8thcolor.com/2013/07/spring-cleanup-for-object-creation-in-rails/</a></p>
