<h1>Enter household information</h1>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Relation to filer</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Date of birth</th>
    <th>Gender</th>
    <th>Is dependent</th>
    <th></th>
  </tr>

  <!-- TODO: write this part -->

</table>
