<p>
  Gender:<br>
  <input type="radio" name="gender" value="male"> Male
  <input type="radio" name="gender" value="female"> Female
</p>

<p>
  Favorite color:<br>
  <select name="favorite_color">
    <option>(choose one)</option>
    <option>red</option>
    <option>green</option>
    <option>blue</option>
  </select>
</p>

<p>
  Blood donor?<br>
  <input type="checkbox" name="is_blood_donor">
</p>
