<!doctype html>
<html>
  
  <head>
    <title>Divshot: Getting Started</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://app.divshot.com/themes/slate/bootstrap.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap-responsive.css">
    <script src="https://app.divshot.com/js/jquery.min.js"></script>
    <script src="https://app.divshot.com/js/bootstrap.min.js"></script>
  </head>
  
  <body>
    <title>Divshot: Getting Started</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap-responsive.css">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Welcome to Divshot!</a>
          <div class="navbar-content">
            <ul class="nav  pull-right">
              <li class="active">
                <a href="#">Quickstart</a> 
              </li>
              <li>
                <a href="#">Home</a> 
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="page-header">
        <h1>The Divshot Quickstart Guide</h1>
        <ol class="breadcrumb">
          <li>
            <a href="#">Home</a>
            <span class="divider">/</span> 
          </li>
          <li>
            <a href="#">Library</a>
            <span class="divider">/</span> 
          </li>
          <li class="active">Data</li>
        </ol>
      </div>
      <div class="alert alert-info hidden-phone">
        <a class="close" data-dismiss="alert">×</a>
        <b>Need additional help?</b> Go visit our documentation site at
        <a href="http://docs.divshot.com">docs.divshot.com</a> 
      </div>
      <p class="lead">Divshot is a visual interface builder for web applications. Everything
        you see is real HTML and CSS. This page has a few quick tips to get you
        started. If you run into trouble, just click your name (top right) and
        then click "Share Feedback."</p>
      <div class="row">
        <div class="span8">
          <div class="well">
            <h4>Adding Components</h4>
            <p>To add a component, just drag it from the list on the right onto the canvas.</p>
          </div>
          <div class="well">
            <h4>Exporting HTML</h4>
            <p>Divshot is built to give you usable code. Just click the "Export Code"
              button in the top toolbar.</p>
          </div>
        </div>
        <div class="span4">
          <div class="well">
            <h4>Editing Content</h4>
            <p>You can edit the text sections of a component by double-clicking. Try
              editing this text!</p>
          </div>
          <form></form>
          <div class="well">
            <h4>Responsive Design</h4>
            <p>Divshot designs look great on any device. Click the laptop icon to preview
              for phone, tablet, or desktop.</p>
          </div>
        </div>
        <div class="span4">
          <div class="well">
            <h4>Configuring Components</h4>
            <p>Each component has different options. The "Inspector" panel on the right
              lets you change them.</p>
          </div>
          <div class="well">
            <h4>Dive Into Code</h4>
            <p>Need to get into the nitty gritty? Just click the "Source Editor" button
              in the top bar to edit HTML, CSS, and JavaScript!</p>
          </div>
        </div>
      </div>
      <p class="text-info lead">While using Divshot, your changes are automatically saved to the server
        as you make them so you never have to worry about losing your work.</p>
    </div>
  </body>

</html>
