<h1>How many buckets of each color do you want?</h1>

<table border="1">
  <tr>
    <th>Red
    <td>
      Number of buckets:
      <br>
      <input type="text">
  <tr>
    <th>Yellow
    <td>
      Number of buckets:
      <br>
      <input type="text">
  <tr>
    <th>Green
    <td>
      Number of buckets:
      <br>
      <input type="text">
    <td>
      Note: green can also be created by combining:
      <ul>
        <li>yellow</li>
        <li>blue</li>
      </ul>
  <tr>
    <th>Blue
    <td>
      Number of buckets:
      <br>
      <input type="text">
</table>

<p>
  <button>Place Order</button>
</p>
