<%= form_tag "/admin_login" do %>
  <p>
    Username
    <br>
    <input type="text" name="username">
  </p>
  <p>
    Password
    <br>
    <input type="password" name="password">
  </p>
  <p>
    <button name="login" value="login">Login</button>
  </p>
<% end %>

<p>You can login with bob/123 or sue/234</p>
