%nav.navbar.navbar-static-top.navbar-inverse(style="margin-bottom: 0")
  %p.navbar-brand(style="margin:0") Cat Ipsum
  %form.form-inline.navbar-form.pull-right
    %div.form-group
      %input.form-control(type="email" placeholder="Email")
    %div.form-group
      %input.form-control(type="password" placeholder="Password")
    %button(type="submit" class="btn btn-default") Login

.jumbotron
  .container
    .row
      .col-sm-8
        %h1 Cat ipsum dolor
        %p Tabby siamese grimalkin persian, or havana brown yet savannah sphynx. Manx. Thai tiger and ocelot, balinese. Leopard tiger russian blue or malkin. Manx. Bobcat birman, but sphynx but tomcat. Munchkin jaguar.
        %p
          %a.btn.btn-primary.btn-lg Sign Up
      .col-sm-4
        %img(src="http://placekitten.com/g/240/230" width="240" height="230" style="margin-top:30px")

.container
  .row
    .col-sm-4
      %blockquote
        %p Turkish angora munchkin but munchkin american bobtail cornish rex.
        %small american bobtail
    .col-sm-4
      %blockquote
        %p Cheetah siberian for devonshire rex malkin but tiger. Cornish rex puma, leopard yet singapura mouser siamese russian blue.
        %small persian tabby
    .col-sm-4
      %blockquote
        %p American shorthair scottish fold american shorthair persian tabby. Siamese tiger scottish fold.
        %small cornish rex
