<nav class="navbar navbar-static-top navbar-inverse" role="navigation" style="margin-bottom: 0">
<p class="navbar-brand" style="margin:0">Cat Ipsum</p>

<form class="form-inline navbar-form pull-right" role="form">
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail2">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label class="sr-only" for="exampleInputPassword2">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">Sign in</button>
</form>
</nav>

<div class="jumbotron">
  <div class="container">
    <div class="col-sm-8">
      <h1>Cat ipsum dolor</h1>
      <p>
Tabby siamese grimalkin persian, or havana brown yet savannah sphynx. Manx. Thai tiger and ocelot, balinese. Leopard tiger russian blue or malkin. Manx. Bobcat birman, but sphynx but tomcat. Munchkin jaguar.
</p>
      <p><a class="btn btn-primary btn-lg">
Sign Up
</a></p>
    </div>
    <div class="col-sm-4">
      <img src="http://placekitten.com/g/240/240" width="240" height="240" style="margin-top:30px">
    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <blockquote>
        <p>Turkish angora munchkin but munchkin american bobtail cornish rex.</p>
        <small>american bobtail</small>
      </blockquote>
    </div>
    <div class="col-sm-4">
      <blockquote>
        <p>Cheetah siberian for devonshire rex malkin but tiger. Cornish rex puma, leopard yet singapura mouser siamese russian blue.</p>
        <small>persian tabby</small>
      </blockquote>
    </div>
    <div class="col-sm-4">
      <blockquote>
        <p>American shorthair scottish fold american shorthair persian tabby. Siamese tiger scottish fold.</p>
        <small>cornish rex</small>
      </blockquote>
    </div>
  </div>
</div>

<nav class="navbar navbar-default" role="navigation">

  <div class="col-md-8">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="col-md-4">
    <form class="navbar-form navbar-left" role="search">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search">
      <span class="input-group-btn">
<button class="btn btn-default">
  <span class="glyphicon glyphicon-search"></span>
</button>
      </span>
      </div>
    </form>
  </div>


</nav>


<div class="container">

<div class="alert alert-info">
  Something's wrong.
  For more information, see <a href="www.google.com" class="alert-link">google.com</a>.
  <br>
  <br>

  <div class="row">
  <div class="col-sm-10">
    <div class="progress progress-striped">
      <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
        <span class="sr-only">45% Complete</span>
      </div>
    </div>
  </div>
  <div class="col-sm-1">
    <button type="button" class="btn btn-default">Cancel</button>
  </div>
  </div>

</div>


<div class="row">
  <div class="col-sm-4">
    <div class="list-group">
      <a href="#" class="list-group-item active">
        <span class="glyphicon glyphicon-inbox"></span>
        Cras justo odio
      </a>
      <a href="#" class="list-group-item">
        <span class="glyphicon glyphicon-home"></span>
        Dapibus ac facilisis in
        <span class="badge">14</span>
      </a>
    </div>
  </div>
  <div class="col-sm-7">

  <button type="button" class="btn btn-default btn-lg" disabled="disabled">Button</button>
<br clear="both">
<br clear="both">

<table class="table">
  <tr>
    <th>here</th>
    <th>here2</th>
  </tr>
  <tr>
    <td>here</td>
    <td>here
      <span class="label label-danger">Danger</span>
    </td>
  </tr>
</table>

<ul class="pager">
  <li class="previous"><a href="#">
<span class="glyphicon glyphicon-fast-backward"></span>
Earliest
</a></li>
  <li><a href="#">
<span class="glyphicon glyphicon-arrow-left"></span>
</a></li>
  <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
  <li class="active disabled"><a href="#">1 <span class="sr-only">(current)</span></a></li>
  ...

  <li class="next"><a href="#">Latest &rarr;</a></li>
</ul>
  </div>
</div>    

    


</div>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

