<link rel="stylesheet" type="text/css" href="/stylesheets/application.css">

<h1>List of apartments</h1>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Address</th>
    <th>Rent</th>
    <th></th>
  </tr>
  <tr>
    <td>1</td>
    <td>16th and Grove St</td>
    <td>$1550.00</td>
    <td>
      <a href="/apartments/1">More...</a>
    </td>
  </tr>
  <tr>
    <td>2</td>
    <td>near Spine and White Rock Circle</td>
    <td>$800.00</td>
    <td>
      <a href="/apartments/2">More...</a>
    </td>
  </tr>
</table>
