<link rel="stylesheet" type="text/css" href="/stylesheets/application.css">

<h1>Apartment #2</h1>

<p>
  <b>ID</b><br>
  2
</p>
<p>
  <b>Address</b><br>
  near Spine and White Rock Circle
</p>
<p>
  <b>Rent</b><br>
  $800.00
</p>
<p>
  <b>Allows pets</b><br>
  Unknown
</p>
<p>
  <b>URL</b><br>
  <a href="http://boulder.craigslist.org/apa/3955744060.html">
    http://boulder.craigslist.org/apa/3955744060.html
  </a>
</p>
