<style>
  tr { vertical-align: top; }
  ul { margin: 0; }
</style>

<h1>iPhones on eBay</h1>

<table border="1">
  <tr>
    <th><a href="/listings">All</a></th>
    <th><a href="/listings?model=3G">3G</a></th>
    <th><a href="/listings?model=4">4</a></th>
    <th><a href="/listings?model=5">5</a></th>
  </tr>
  <tr>
    <th><a href="/listings?gigs=8">8GB</a></th>
    <td><a href="/listings?gigs=8&model=3G">3G, 8GB</a></td>
    <td><a href="/listings?gigs=8&model=4">4, 8GB</a></td>
    <td><a href="/listings?gigs=8&model=5">5, 8GB</a></td>
  </tr>
  <tr>
    <th><a href="/listings?gigs=16">8GB</a></th>
    <td><a href="/listings?gigs=16&model=3G">3G, 16GB</a></td>
    <td><a href="/listings?gigs=16&model=4">4, 16GB</a></td>
    <td><a href="/listings?gigs=16&model=5">5, 16GB</a></td>
  </tr>
</table>
