<p>Here's one hard-coded table cell to get you started:</p>
<table>
  <tr>
    <td style="background-color:#7777FF">
      <a href="/1/1">
        <img src="/images/bike.png">
      </a>
    </td>
  </tr>
</table>
