<html>
  <body>
    <form method="POST" action="/new">
      <h1>New post</h1>

      Author<br>
      <input type="text" name="author"><br>
      <br>
  
      Content<br>
      <input type="text" name="content"><br>
      <br>
  
      <button>Create post</button>
    </form>
  </body>
</html>
