<h1>Customize your bracelet</h1>

<h2>Preview</h2>

<!-- TODO: make this part dynamic -->
<div style='border:1px black solid; text-align:center; width:500px'>
  <div style='font-size:14pt'>
    Edna Ferrela
  </div>
  <div style='font-size:10pt'>
    Do. Or do not. There is no try.
  </div>
</div>

<ul>
  <li>
    <a href="/line1">Edit line 1</a>
  </li>
  <li>
    <a href="/line2">Edit line 2</a>
  </li>
</ul>
