<h1>How to support WebP images, save bandwidth and improve user performance</h1>

<p><b>Summary:</b> The WebP format is another great tool to achieve our goals. With Cloudinary's on-the-fly, cloud-based WebP image format conversion, this becomes much simpler.</p>

<p>Read more at <a href="http://cloudinary.com/blog/how_to_support_webp_images_save_bandwidth_and_improve_user_performance">http://cloudinary.com/blog/how_to_support_webp_images_save_bandwidth_and_improve_user_performance</a></p>
