.flash-error {
  background-color: #f2dede;
  border: 1px #eed3d7 solid;
  color: #b94a48;
  padding: 15px;
}
.flash-success {
  background-color: #ddffdd;
  border: 1px green solid;
  color: green;
  padding: 15px;
}
