<ul>
  <li><a href="/patients/1">Patient #1</a></li>
  <li><a href="/patients/2">Patient #2</a></li>
  <li><a href="/patients/3">Patient #3</a></li>
  <li><a href="/patients/4">Patient #4</a></li>
</ul>
